* {
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 400;
    color: #111;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: indianred;
}

.logo {
    color: oldlace;
    font-weight: bold;
    font-size: 4em;
    text-decoration: none;
}

.logo span {
    color: #0c3658;
}

.navbar {
    display:flex;
    position: relative;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: rgb(231, 161, 161);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    font-size: 2em;
}

.btn-accedi {
    padding: 10px 20px;
    background: rgb(159, 190, 190);
    margin-top: -10px;
    text-transform: uppercase;
}
.btn-accedi:hover {
    background: #755a3c; 
    transition: ease-out; 
}
.btn-registrati {
    padding: 10px 20px;
    background: rgb(167, 202, 202);
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-registrati:hover {
    background: #a8825a;  
    transition: ease-out; 
}

header.navbar li a:hover {
    color: #d87710;
    border-bottom: 2px solid #d87710;
    
}

.filtri{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(./images/home.jpg);
    background-size: cover;

}

.divRicerca {
    z-index: 2;
}

.autocompleteGoogle{
    width: 38px;
    margin-top: 360px;
}

.homeWrapLeftGolia{
    width: 100%;
    margin-top: 0;
}

.intestazioneText span{
    margin-left: 0px;
    text-shadow: none;
    font-size: 100px;
   
}

.divRicerca{
    z-index: 6;
}
.homeCercaBar{
    width: 380px;
    margin-top: 5px;
}

.homeYellowCerca{
    margin-top: 15px;
}

.homeRicercaInput{
    margin-top: 20px;
}


.banniere.contenu {
    max-width: 70px;
    text-align: center;
}

.banniere .contenu h2 {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}

.contenu p:nth-child(2) {
    color: #fff;
    font-size: 1.2em
}

.btn1 {
    font-size: 1em;
    color: #fff;
    background: #d87710;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn2 {
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

btn1{
    letter-spacing: 4px;
}

section{
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50{
    margin-bottom: 20px;
}

.titre-texte {
    color: #000;
    font-size: 2m;
    font-weight: 100px;
    text-transform: capitalize;
}

.titre-texte span {
    color: #d87710;
    font-size: 1.5em;
    font-weight: 700px;
}

.row.col50 img {
    height: 650px;
    width: 800px;
    position: relative;
}
.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    margin-top: -100px;
}
.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.5);
}
.menu .contenu .box .inbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .contenu .box .inbox .img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.menu .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: #000;
}
.menu .contenu .box .text .h3{
    font-weight: 400;
}